result
.gitsecret/keys/random_seed
!*.secret
secrets/qutebrowser/default.nix
secrets/qutebrowser/quickmarks.nix
secrets/qutebrowser/searchengines.nix
secrets/newsboat/default.nix
secrets/newsboat/urls.nix
secrets/security/default.nix
secrets/security/ssh.nix
secrets/newsboat/config.nix
secrets/mail/default.nix
secrets/security/github.nix
secrets/suite/default.nix
