binds {
    Ctrl+Alt+Delete hotkey-overlay-title="Task Manager" { spawn "dms" "ipc" "call" "processlist" "focusOrToggle"; }
    Ctrl+XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "decrement" "3"; }
    Ctrl+XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "increment" "3"; }
    Mod+Comma hotkey-overlay-title="Settings" { spawn "dms" "ipc" "call" "settings" "focusOrToggle"; }
    Mod+Shift+W hotkey-overlay-title="Create window rule" { spawn "dms" "ipc" "call" "window-rules" "toggle"; }
    Mod+Y hotkey-overlay-title="Browse Wallpapers" { spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }
    Super+B hotkey-overlay-title="Night Mode: Toggle" { spawn "dms" "ipc" "call" "night" "toggle"; }
    Super+N hotkey-overlay-title="Notification Center" { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Super+S hotkey-overlay-title="App Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Super+Shift+N hotkey-overlay-title="Notepad: Toggle" { spawn "dms" "ipc" "call" "notepad" "toggle"; }
    Super+Shift+Q hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Super+V hotkey-overlay-title="Clipboard Manager" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "3"; }
    XF86AudioMicMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "micmute"; }
    XF86AudioMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioNext allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "next"; }
    XF86AudioPause allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPlay allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPrev allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "previous"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "3"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    Mod+Ctrl+Up { move-column-to-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up { focus-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up { move-workspace-up; }
    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }
    Super+F1 { move-column-to-workspace 1; }
    Super+F2 { move-column-to-workspace 2; }
    Super+F3 { move-column-to-workspace 3; }
    Super+F4 { move-column-to-workspace 4; }
    Super+F5 { move-column-to-workspace 5; }
    Super+F6 { move-column-to-workspace 6; }
    Super+F7 { move-column-to-workspace 7; }
    Super+F8 { move-column-to-workspace 8; }
    Super+F9 { move-column-to-workspace 9; }
    Super+Shift+1 { move-column-to-workspace 1; }
    Super+Shift+2 { move-column-to-workspace 2; }
    Super+Shift+3 { move-column-to-workspace 3; }
    Super+Shift+4 { move-column-to-workspace 4; }
    Super+Shift+5 { move-column-to-workspace 5; }
    Super+Shift+6 { move-column-to-workspace 6; }
    Super+Shift+7 { move-column-to-workspace 7; }
    Super+Shift+8 { move-column-to-workspace 8; }
    Super+Shift+9 { move-column-to-workspace 9; }
    Alt+Print { screenshot-window; }
    Alt+XF86Launch1 { screenshot-window; }
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Ctrl+End { move-column-to-last; }
    Mod+Ctrl+H { focus-monitor-left; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+J { focus-monitor-down; }
    Mod+Ctrl+K { focus-monitor-up; }
    Mod+Ctrl+L { focus-monitor-right; }
    Mod+Ctrl+Left { focus-monitor-left; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp { move-column-left; }
    Mod+Ctrl+WheelScrollLeft { move-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Down { focus-window-down; }
    Mod+End { focus-column-last; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+H { focus-column-left; }
    Mod+Home { focus-column-first; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }
    Mod+Left { focus-column-left; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Period { expel-window-from-column; }
    Mod+Q repeat=false { close-window; }
    Mod+Right { focus-column-right; }
    Mod+Shift+Ctrl+Down { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Left { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Up { move-column-to-monitor-up; }
    Mod+Shift+Down { move-window-down; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up { move-window-up; }
    Mod+Up { focus-window-up; }
    Mod+WheelScrollDown { focus-column-right; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollUp { focus-column-left; }
    Super+Ctrl+O { expand-column-to-available-width; }
    Super+Ctrl+U { reset-window-height; }
    Super+G hotkey-overlay-title="Open Terminal" { spawn "ghostty" "+new-window"; }
    Super+I { toggle-window-floating; }
    Super+O { maximize-column; }
    Super+Shift+I hotkey-overlay-title="Switch Floating/Tiling Focus" { switch-focus-between-floating-and-tiling; }
    Super+Shift+O { fullscreen-window; }
    Super+Shift+U { switch-preset-window-height; }
    Super+U { switch-preset-column-width; }
    Mod+Shift+P { power-off-monitors; }
    Ctrl+Print { screenshot-screen; }
    Ctrl+XF86Launch1 { screenshot-screen; }
    Print { screenshot; }
    XF86Launch1 { screenshot; }
    Mod+Shift+E { quit; }
    Super+A hotkey-overlay-title="Kagi Assistant" { spawn "~/.local/bin/webapp-launch" "https://kagi.com/assistant"; }
    Super+E hotkey-overlay-title="Thunderbird" { spawn "thunderbird"; }
    Super+F hotkey-overlay-title="Inoreader" { spawn "~/.local/bin/webapp-launch" "https://www.inoreader.com/starred"; }
    Super+M hotkey-overlay-title="Google Maps" { spawn "~/.local/bin/webapp-launch" "https://www.google.com/maps"; }
    Super+Shift+F hotkey-overlay-title="File Browser" { spawn "nautilus"; }
    Super+Shift+M hotkey-overlay-title="Waze" { spawn "~/.local/bin/webapp-launch" "https://www.waze.com/en-GB/live-map"; }
    Super+Shift+S hotkey-overlay-title="1Password Quick Access" { spawn "1password" "--quick-access"; }
    Super+Shift+V hotkey-overlay-title="Mullvad" { spawn "mullvad-vpn"; }
    Super+T hotkey-overlay-title="Todoist" { spawn "~/.local/bin/webapp-launch" "https://app.todoist.com"; }
    Super+W hotkey-overlay-title="Brave Browser" { spawn "brave"; }
    Super+space hotkey-overlay-title="Toggle Keyboard Layout" { spawn "niri" "msg" "action" "switch-layout" "next"; }
    Mod+D repeat=false { toggle-overview; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Tab repeat=false { toggle-overview; }
}
