[Desktop Entry]
Version=1.0
Name=Google Contacts
Comment=Google Contacts
Exec=webapp-launch https://contacts.google.com/
Terminal=false
Type=Application
Icon=/home/richard/.local/share/applications/icons/Google Contacts.png
StartupNotify=true
