[Desktop Entry]
Version=1.0
Name=Google Keep
Comment=Google Keep
Exec=webapp-launch https://keep.google.com/
Terminal=false
Type=Application
Icon=/home/richard/.local/share/applications/icons/Google Keep.png
StartupNotify=true
