[Unit]
Description=Auto adjusts GNOME theme between dark and light to match the time

[Timer]
OnCalendar=*-*-* 19:00:00
OnCalendar=*-*-* 08:00:00

[Install]
WantedBy=timers.target
