[Unit]
Description=Auto update system theme between dark and light to match the time
After=suspend.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/theme_toggle
TimeoutSec=30
StandardOutput=journal

[Install]
WantedBy=default.target
