[Unit]
Description=Solution for Wayland Wallpaper Woes
After=hyprland.service

[Service]
ExecStart=/usr/bin/awww-daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
