[Unit]
Description=Walker - Application Runner
ConditionEnvironment=WAYLAND_DISPLAY
After=graphical-session.target elephant.service
Requires=elephant.service
PartOf=graphical-session.target

[Service]
ExecStart=walker --gapplication-service
Restart="on-failure"

[Install]
WantedBy=graphical-session.target