@define-color window_bg_color #171717;
@define-color accent_bg_color #77767b;
@define-color theme_text_color #ffffff;
@define-color theme_fg_color #3584e4;

* {
  all: unset;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
  padding: 9px;
  border-radius: 10px;
  border: 3px solid @theme_fg_color;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_text_color;
}

.box {}

.search-container {
  border-radius: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  caret-color: @theme_text_color;
  background: lighter(@window_bg_color);
  padding: 9px;
  color: @theme_text_color;
  font-size: 18px;
}

.input:focus,
.input:active {}

.content-container {}

.placeholder {}

.scroll {}

.list {
  color: @theme_text_color;
}

child {}

.item-box {
  border-radius: 10px;
  padding: 9px;
}

.item-quick-activation {
  margin-left: 12px;
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 10px;
  padding: 9px;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@theme_fg_color, 0.25);
}

child:hover .item-quick-activation,
child:selected .item-quick-activation {
  background: @theme_fg_color;
}

.item-text-box {}

.item-text {
  font-size: 17px;
}

.item-subtext {
  font-size: 14px;
  opacity: 0.5;
}

.item-image {
  margin-right: 12px;
}

.keybind-hints {
  opacity: 0.7;
  color: @theme_text_color;
}

.preview {
  border: 3px solid alpha(@accent_bg_color, 0.25);
  padding: 9px;
  border-radius: 10px;
  color: @theme_text_color;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {}

.symbols .item-image {
  font-size: 24px;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}