* {
	font-family: Inter Nerd Font Propo;
}

window#waybar {
	background-color: #090618;
	color: #dcd7ba;
}

#window,
#workspaces {
	margin: 0 4px;
	font-size: 12pt;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

#tags button,
#workspaces button {
	all: initial;
	padding: 0 8px;
	background-color: #090618;
	color: #dcd7ba;
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
}

#tags button:hover,
#workspaces button:hover {
	background-color: #7e9cd8;
	color: #090618;
}

#tags button.focused,
#workspaces button.active,
#workspaces button.focused {
	background-color: #7fb4ca;
	color: #090618;
}

#tags button.focused:hover,
#workspaces button.active:hover,
#workspaces button.focused:hover {
	background-color: #7e9cd8;
	color: #090618;
}

#tags button:not(.occupied):not(.focused) {
	font-size: 0;
	min-width: 0;
	min-height: 0;
	padding: 0 0;
	border: 0;
}

#tags button.urgent,
#workspaces button.urgent {
	background-color: #fc6d24;
	color: #090618;
}

#tags button.urgent:hover,
#workspaces button.urgent:hover {
	background-color: #fda331;
	color: #090618;
}

#mode {
	font-size: 12pt;
	background: #090618;
	border-top: 3px solid #dcd7ba;
}

#battery,
#clock,
#cpu,
#custom-github,
#custom-maildir,
#disk,
#memory,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#temperature,
#tray {
	font-size: 12pt;
	background: #090618;
	color: #dcd7ba;
}

#mpris {
	margin-right: 20pt;
	border-radius: 0;
	background: #15161e;
}

tooltip {
	font-size: 12pt;
	background-color: #090618;
	color: #dcd7ba;
	border: 2px solid #7e9cd8;
	border-radius: 0;
}
